
/* Your CSS Code here. */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
 display: flex;
 justify-content: center;
 height: 100vh;
 align-items: center;
}
.container{
    width:100%;
    max-width: 850px;
    background-color: whitesmoke;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset; 
    height:400px;  
}
.heading{
    font-size: 40px;
    text-align: center;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0;
}
.user-input-box
{
    display: flex;
    flex-wrap: wrap;
    width:33.3%;
    padding-bottom: 15px;
}
.user-input-box input{
    width:250px;
    border: 1px solid #ddd;
    height: 25px;
    border-radius: 5px;
}
#college-input{
    width:500px;
}

#roll-no-input{
    width:200px;
    display: flex;
    border:1px solid #ddd;
    border-radius: 5px;
    height: 25px;
}

#grad-year-input{
    width:150px;
    display: flex;
    border:1px solid #ddd;
    border-radius: 5px;
    height: 25px;
}
.btn{
 display: flex;
 flex-wrap: wrap;
 width:100px;
 height: 30px;
 font-size: 15px;
 background-color: blue;
 color: white;
 text-align: center;
 padding: 5px;
 border: none;
 border-radius: 2px;
}